boot.img
firmware-update/NON-HLOS.bin
vendor/etc/camera/LDC_table_src2.dat
vendor/etc/camera/LDC_table_src1.dat
system/system/priv-app/MiuiSystemUI/MiuiSystemUI.apk
system/system/app/WebViewGoogle/WebViewGoogle.apk
